<!DOCTYPE html>
<html>
	<head>
		<title>Random Homestay Feedback</title>
	</head>

	<body>
		<h2 style="text-align:center;">Feedback</h2>
		
		<form action="" method = "POST" style="text-align:center;">
			<fieldset style = "border:none">
				<label><p>Name:</p>
					<input type="text" placeholder = "" name = "name"/></label>
				<label><p>Address:</p>
					<input type="text" placeholder = "" name = "address"/></label>
				<p>How did you like the Food?</p>
				<label><p>Please provide rating from 0 to 9:</p>
				<input type="text" placeholder = "" name = "food_rate"/></label>
				<p>How did you like the room service?</p>
				<label<p>Please provide rating from 0 to 9:</p>
				<input type="text" placeholder = "" name = "room_rate"/></p>
			</fieldset>
			<button class="button-primary" type="submit" value="Submit">SUBMIT!</button>
		</form>
	</body>
</html>