<!DOCTYPE html>
<html>
	<head>
		<title>Random Homestay</title>
	</head>

	<body>		
		<h2 style="text-align:center;">Welcome to our humble abode!</h2>

		<p style="text-align:center;">We are very happy that we had the pleasure to host you.</br> 
		Hope that you had an fantastic experience during your stay with us.</br>
		We will be very happy to hear from you.</p>

		<p style="text-align:center;">Hope to see you again soon.</p>
		
		<!--<a href=""></a>-->
		<form action="/feedback" style="text-align:center;">
			<input type="submit" value="Leave a Feedback!" />
		</form>
	</body>
</html>